/*Global Styles*/

//Variables
$nav-bkg-color:rgb(154, 25, 7); 
$content-bkg-color:rgb(255,249,238);
$content-font-color: rgb(74,54,28);
$nav-font-color: rgb(255,249,219);

$main-font:'Lato', 'sans-serif';

body, h1, h2, h3, h4, h5, p, li, a {
	font-family:$main-font;
}

//Background
.full-height {
	height:100%;
}
body {
	background-color:$content-bkg-color;
}
.sidebar {
	background-color:$nav-bkg-color;
	margin-top:-5px;
}

//Navigation
.nav-leaf-photo {
	position:absolute;
	width:91%;
}
.nav-heading {
	width:270px;
	position:relative;
	left:50px;
	top:95px;
	border-bottom:2px solid rgb(255, 169, 12);
	padding-left:10px;
	h2 {
		line-height:1;
		color:$nav-font-color;
		text-transform:uppercase;
		text-align:left;
		font-size:1.8em;
		font-weight:300;
	}
	h1 {
		line-height:.8;
		color:$nav-font-color;
		text-transform:uppercase;
		text-align:left;
		font-weight:300;
	}
}
.custom-side-nav {
	position:relative;
	top:95px;
	list-style:none;
	text-align:right;
	text-transform:uppercase;
	margin:25px 0;
	li {
		padding:3px 0;
		a {
			color:$nav-font-color;
			font-size:1.4em;
			padding:10px;
		}
	}
}
.active {
	background-color:rgba(0,0,0,0.3);
}

.tab-bar {
	background-color:$nav-bkg-color;
	height:75px;
	.nav-heading {
		top:10px;
		h1 {
			font-size:2.2em;
		}
		h2 {
			font-size:1.4em;
		}
	}
	.mobile-nav-leaf-photo {
		height:75px;
		position:absolute;
		top:0;
		left:0;
	}
	.right-small {
		width:75px;
		height:75px;
		a {
			width:100%;
			height:100%;
			p {
				color:#d95d41;
				text-transform:uppercase;
				font-weight:bold;
				position:relative;
				top:48px;
				left:-22px;
			}
		}
		a:hover {
			p {
				color: scale-color($tabbar-menu-icon-color, $lightness: -30%);
			}
		}
	}
}
.right-off-canvas-menu {
	background-color:#631004;
	text-transform:uppercase;
	color:#fff9ee;
	.nav-contact-info {
		margin-top:150px;
		text-align:center;
		p {
			font-size:1em;
			margin-bottom:0;
			color:#d95d41;
			text-transform:lowercase;
			a {
				color:#d95d41;
				font-size:1em;
			}
		}
	}
}

.main-content {
	padding-left:80px;
	h1, h2, h3, h4, h5, p, a, li {
		color: $content-font-color;
	}
}
.main-section {
	overflow-y:auto;
}
.content {
	margin-top:50px;
}
.contact-info {
	margin-bottom:30px;
	p {
		margin-bottom:0px;
		font-weight:bold;
		font-size:1.2em;
		line-height:1.2em;
		text-align:right;
		color: $content-font-color;
		z-index:2;
		a {
			color: $content-font-color;
		}
	}
}
.copyright {
  width:300px;
  margin: 0 auto;
  margin-bottom:30px;
  font-size:0.8em;
  text-align: center;
  position:absolute;
  bottom: 0;
  line-height: 1em;
  color:#d95d41;
}


/*Media Queries*/

@media only screen and (max-width:1024px) {
	.main-content {
		padding-left:0px;
	}
}

@media only screen and (max-width:640px) {
	.tab-bar {
		.nav-heading {
			width:200px;
			left:20px;
			top:10px;
			padding-left:5px;
			h1 {
				font-size:2em;
			}
			h2 {
				font-size:1.4em;
			}
		}
	}
	.contact-info { 
		height:200px;
		background:url('../img/mobile-leaf-bottom.png') no-repeat;
		background-size:contain;
		background-position:center;
		padding-top:30px;
		p {
			text-align:center;
			z-index:2;
		}
		.copyright {
      font-size:0.8em;
      margin-top:25px;
      position:relative;
      color:$content-font-color;
    }
	} 
}